---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
    firstName: "Nikhil",
    country: "USA",
    occupation: "student & cybersecurity enthusiust",
    hobbies: ["Gaming", "Working Out", "Hiking"],
};

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "Python",
    "C++",
    "Java",
    "Cybersecurity",
    "OSINT",
    "Pentesting",
];

const happy = true;
const finished = true;
const goal = 3; // Boolean value changes the statement that is rendered

const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new website built in astro</h2>
    <p>
        Currently I am working on making this website better and better! :)
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in the {identity.country} and I am a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
        <!-- This is a way to list out a whole array -->
    </ul>
    {happy && <p> I am happy to be learning astro!</p>}
</BaseLayout>
